<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ReadingList.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>mogenerator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>versioner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2A74EBA91BCD50B7005F5E74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A74EBC51BCD50B8005F5E74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A74EBD01BCD50B8005F5E74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A74EBE41BCD567E005F5E74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A74EBE91BCD56F6005F5E74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>443108821CF36B2A00EC1963</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
