<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Active Environment</key>
	<string>Production</string>
	<key>Environments</key>
	<dict>
		<key>Local</key>
		<dict>
			<key>v1</key>
			<string>http://172.20.10.2:5000/</string>
		</dict>
		<key>LocalIP</key>
		<dict>
			<key>v1</key>
			<string>http://192.168.1.31:5000/</string>
		</dict>
		<key>Production</key>
		<dict>
			<key>v1</key>
			<string>https://reading-list-prod.herokuapp.com/</string>
		</dict>
		<key>Santander</key>
		<dict>
			<key>v1</key>
			<string>http://192.168.137.121:5000/</string>
		</dict>
		<key>Stage</key>
		<dict>
			<key>v1</key>
			<string>https://reading-list-stage.herokuapp.com/</string>
		</dict>
	</dict>
</dict>
</plist>
